<!DOCTYPE html>
<html>
	<head>
        <title>Carpark Search</title>
    </head>
    <body>
        <div class=search>
            <form action="/search" ,method="GET">
                <label for="xcoords">X-coordinates:</label><br>
                <input type="text" name="xcoords"><br>
                <label for="ycoords">Y-coordinates:</label><br>
                <input type="text" name="ycoords"><br>
                <input type="submit" value="Search">
            </form>
        </div>
    </body>
</html>

<!-- 
<html>
    <head>
        <title>Carpark Search</title>
    </head>
    <body>
        <form action='/search' method="get">
        	<label>x-coordinate:</label><br>
        	<input type="text" name="x" value=""><br>
        	<label>y-coordinate:</label><br>
        	<input type="text" name="y" value=""><br>
        	<input type="submit" value="Search"><br>
        </form>
    </body>
</html> -->