<!DOCTYPE html>
<html>
	<head>
        <title>Carpark Search</title>
    </head>
    <body>
				<div class=instructions>
					<h3>
						How to use:<br>
						1. Input an X-coord (preferably one in Singapore).<br>
						2. Input an Y-coord (preferably one in Singapore).<br>
						3. Press search.<br>
						4. The name of the carpark which is nearest to you will show up.<br>
						5. Enjoy!<br>
					</h3>
				</div>
        <div class=search>
            <form action="/search" ,method="GET">
                <label for="xcoords">X-coordinates:</label><br>
                <input type="text" name="xcoords"><br>
                <label for="ycoords">Y-coordinates:</label><br>
                <input type="text" name="ycoords"><br>
				
                <input type="submit" value="Search"><br>
            </form>
        </div>
    </body>
</html>

<!-- 
<html>
    <head>
        <title>Carpark Search</title>
    </head>
    <body>
        <form action='/search' method="get">
        	<label>x-coordinate:</label><br>
        	<input type="text" name="x" value=""><br>
        	<label>y-coordinate:</label><br>
        	<input type="text" name="y" value=""><br>
        	<input type="submit" value="Search"><br>
        </form>
    </body>
</html> -->