<!DOCTYPE html>
<html>
	<head>
        <title>Carpark Search</title>
    </head>
	<body>
		<h4>You have entered: {{ xcoords }}, {{ ycoords }}</h4>
		<h4> Nearest Carpark: {{ address }} {{ number }}</h4>
		<form action = '/search' method="GET">
			<label for ="xcoords">X-coordinates:</label><br>
			<input type = "text" id="xcoords" name="xcoords" value=""><br>
			<label for ="ycoords">Y-coordinates:</label><br>
			<input type = "text" id="ycoords" name="ycoords" value=""><br>
			
			<input type = "submit" value="Search"><br>
		</form>
	</body>
</html>



<!-- <html>
    <head>
        <title>Carpark Search</title>
    </head>
    <body>
        <p>x-coordinates: {{ x }}, y-coordinates: {{ y }}</p>
        <p>nearest carpark = </p>
		<p>address: {{ cp_address }} </p>
		<p>number: {{ cp_number }}</p>
        <form action='/search' method="get">
        	<label>x-coordinate:</label><br>
        	<input type="text" name="x" value=""><br>
        	<label>y-coordinate:</label><br>
        	<input type="text" name="y" value=""><br>
        	<input type="submit" value="Search"><br>
        </form>
    </body>
</html> -->